<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.EmartDataBaseConnectionString"
            connectionString="Data Source=OLEJKA-PC\SQLEXPRESS;Initial Catalog=EmartDataBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>